@tailwind base;
@tailwind components;
@tailwind utilities;

.form-insurance .ant-collapse-header {
  align-items: center !important;
}

.form-insurance-body .ant-popover-arrow::before {
  background-color: #f8f8f9 !important;
}

.form-insurance-body .ant-popover-inner {
  background-color: #f8f8f9 !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.ant-card {
  box-shadow: none !important;
}

.tabs-setting .ant-tabs-tab {
  border-radius: 2px 2px 0px 0px !important;
  border: 1px solid #e3e4e7 !important;
  border-bottom: none !important;
  padding: 9px 24px !important;
}

.tabs-setting .ant-tabs-tab .ant-tabs-tab-btn {
  color: #6c6f7b !important;
}

.tabs-setting .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #008dff !important;
  font-weight: 400 !important;
}

.input-number-remove-arrow::-webkit-outer-spin-button,
.input-number-remove-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.result-insurances .ant-result-title {
  color: #3e4857;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.result-insurances .ant-result-subtitle {
  color: #6c6f7b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

input.input-number-remove-arrow[type='number'] {
  -moz-appearance: textfield;
}

.text_placeholder input::placeholder,
.text_placeholder .ant-select-selection-placeholder {
  color: #6c6f7b !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

.ant-dropdown-menu-item:hover {
  background-color: #e3f1fe !important;
}

.ant-dropdown-menu-item {
  border-radius: 0 !important;
}

.ant-dropdown-menu-item:first-child {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

.ant-dropdown-menu-item:last-child {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.ant-dropdown-menu {
  padding: 0 !important;
}

.input_addon .ant-input-number-group-addon {
  padding: 12px 24px !important;
  color: #abadb5 !important;
  background-color: #e3e4e7 !important;
  font-size: 16px;
  font-weight: 400;
}
